<form>
  <div class="form-group">
    <label>Type d'Acquis</label>
    <select name="type" value="{{type}}">
    {{#select type}}
      {{#each actor.itemTypes as |itemType|}}
      {{#ifnoteq @key "Pouvoir"}}
      <option value="{{@key}}">{{@key}}</option> 
      {{/ifnoteq}}
      {{/each}}
    {{/select}}
    </select>
  </div>
</form>
