<form>
  <div class="form-group">
    <label>Type d'Acquis</label>
    <select name="type" value="{{type}}">
    {{#select type}}
      {{#each config.createAcquis as |itemType|}}
      <option value="{{@key}}">{{@key}}</option> 
      {{/each}}
    {{/select}}
    </select>
  </div>
</form>
