<div class="tab" data-group="main" data-tab="resources">
    <div class="form-group">
        <label>{{localize "TOKEN.ResourceDisplay"}}</label>
        <div class="form-fields">
            <select name="displayBars" data-dtype="Number">
                {{selectOptions displayModes selected=object.displayBars }}
            </select>
        </div>
    </div>

</div> 
