:root {
    --font-size-5: 0.3125rem;
    --font-size-8: 0.5rem;
    --font-size-9: 0.5625rem;
    --font-size-10: 0.625rem;
    --font-size-15: 0.9375rem;
    --font-size-17: 1.0625rem;
    --font-size-19: 1.1875rem;
    --font-size-21: 1.3125rem;
    --font-size-22: 1.375rem;
    --font-size-26: 1.625rem;
    --font-size-30: 1.875rem;
    --font-size-34: 2.125rem;
    --font-size-36: 2.25rem;
    --font-size-42: 2.625rem;
    --body-serif: Gelasio, Georgia, serif;
    --sans-serif: Roboto, sans-serif;
    --sans-serif-condensed: "Roboto Condensed", var(--sans-serif);
    --sans-serif-monospace: "Roboto Mono", monospace;
    --serif: Eczar, Georgia, serif;
    --serif-condensed: "Modesto Condensed", serif;
    --journal-cursive: "La Belle Aurore", cursive;
    --journal-serif: "Vollkorn", var(--serif);
    --primary: #5e0000;
    --secondary: #171f69;
    --tertiary: #e9d7a1;
    --color-esprit: #b8985a;
    --color-ame: #4263a3;
    --color-corps: #c95b40;
    --color-necrose: #707070;
    --alt: #786452;
    --alt-dark: #443730;
    --bg: #f8f4f1;
    --bg-dark: #e7d9cf;
    --sub: #605856;
    --color-disabled: #ababab;
    --inline-link-bg: #ddd;
    --inline-repost-bg: #eaeaea;
    --visibility-gm-bg: #e8e8ef;
    --visibility-owner-bg: #ddebe1;
    --blind-roll: #f5eaf5;
    --light: #910000;
    --dark: #2b0000;
    --tertiary-dark: #dfc578;
    --tertiary-light: #f3e9ca;
    --body: var(--text-dark);
    --color-text-trait: #f5efe0;
    --text-dark: #1c1c1c;
    --text-light: #fff;
    --color-border-trait: #d8c384;
    --color-border-divider: #baa991;
    --header-color: var(--text-light);
    --header-bg: var(--secondary);
    --sidebar-label: var(--tertiary-dark);
    --sidebar-title: var(--tertiary)
}
.actor.sheet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.actor.sheet.character aside {
    background-color: red;
    display: flex; 
    flex-direction: column;
    width: 220px;
}
.actor.sheet.character aside .logo {
    border: none;
    flex-shrink: 0;
    margin: 5px -6px 0;
    max-width: unset;
    z-index: 10;
    width: 220px;
    object-fit: contain;
}
/* CHARACTER SIDEBAR */
.actor.sheet.character .sidebar {
    float: left;
    width: 220px;
}
/* CHARACTER CONTENT */
.actor.sheet.character .content {
    float: right;
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.actor.sheet.character .sheet-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100% - 35px);
    overflow: hidden 
}
/* CHARACTER CONTENT CHARACTER HEADER */
.actor.sheet.character .content .char-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    justify-content: space-between;
}
.actor.sheet.character .char-header .char-details .char-name {
    border: none;
}
.actor.sheet.character .char-header .char-exp {
    display: flex;
}
.actor.sheet.character .sheet-navigation {
    background-color: green;
}
.actor.sheet.character nav.sheet-navigation .manage-tabs {
    color: #fff;
    margin: 0;
    padding: 0 6px
}

/* CHARACTER CONTENT CHARACTER TAB */

.tab.character {
    display: flex;
    flex-direction: column;
}
.actor.sheet.character .content .sheet-body .sheet-content .tab.character .character-details {
    display: grid;
    grid: "img alignment deity"46px "img details details"auto/120px 130px 1fr;
    margin-top: 4px
}
.actor.sheet.character .content .sheet-body .sheet-content .tab.character .character-details .frame-container {
    grid-area: img;
    margin-left: 5px
}

.actor.sheet.character .content .sheet-body .sheet-content .tab.character .character-details .frame .player-image {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, inset 0 0 8px rgba(0, 0, 0, .5), 0 0 8px #000;
    cursor: pointer;
    max-height: 178px;
    object-fit: cover;
    object-position: top;
    width: 100%
}