<div class="roll-data initiative-sidebar" data-item-id="initiative" style="display: flex; flex-direction: row;">
    <a class="roll-initiative">
    <h2>{{localize "SRLabels.Initiative"}}</h2>    
    </a>
    <h4 class="initiative-select" style="margin-left:5px;">
        <select name="system.attributes.initiative.statistic"> 
                {{#select data.attributes.initiative.statistic}}
                {{#each config.SRdomains as |skill|}}
                    <option value="{{skill}}">{{skill}}</option>
                {{/each}}
                {{/select}}
        </select>
    </h4>
</div>