<div class="sidebar_title">
    <h2>{{localize "SRLabels.Tests"}}</h2>
</div>
<div class="tests-sidebar">
    <div class="roll-data domain-test" data-item-id="domainTest" style="display: flex; flex-direction: row;">
    <a class="roll-icon">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/icons/d20.hbs"}}
    </a>
    <h3>{{localize "SRLabels.DomainTest"}}</h3>
    </div>
    <div class="roll-data necrose-test" data-item-id="necroseTest" style="display: flex; flex-direction: row;">
    <a class="roll-icon">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/icons/d20.hbs"}}
    </a>
    <h3>{{localize "SRLabels.NecroseTest"}}</h3>
    </div>
    <div class="roll-data necroseH-test" data-item-id="necroseHTest" style="display: flex; flex-direction: row;">
    <a class="roll-icon">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/icons/d20.hbs"}}
    </a>
    <h3>{{localize "SRLabels.NecroseHTest"}}</h3>
    </div>
</div>