<div class="sidebar_title">
    <h2>{{localize "SRLabels.Tests"}}</h2>
</div>
<div class="roll-data tests-sidebar">
    <div class="domain-test" style="display: flex; flex-direction: row;">
    <a class="roll-icon">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/icons/d20.hbs"}}
    </a>
    <h3>{{localize "SRLabels.DomainTest"}}</h3>
    </div>
    <div class="necrose-test" style="display: flex; flex-direction: row;">
    <a class="roll-icon">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/icons/d20.hbs"}}
    </a>
    <h3>{{localize "SRLabels.NecroseTest"}}</h3>
    </div>
    <div class="necroseH-test" style="display: flex; flex-direction: row;">
    <a class="roll-icon">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/icons/d20.hbs"}}
    </a>
    <h3>{{localize "SRLabels.NecroseHTest"}}</h3>
    </div>

</div>