<form autocomplete="off">
    <div class="form-group">
        <label for="{{object.uuid}}-remove-coins-credos">{{localize "SRLabels.Crédos"}}:</label>
        <input id="{{object.uuid}}-remove-coins-credos" type="number" name="credos" value="0" min="0" step="1" />
    </div>
    <button type="submit"><i class="fa-regular fa-save"></i>{{localize "SR.RemoveCoinsTitle"}}</button>
</form>