<h1>Système Foundry</h1>
<p><strong>Développement </strong>: Valentin « Pouet » Dhilly, Colonelb, Julien Bès <br>
<strong>Compendiums </strong>: Julien « Pretre » Roulic, Julien Bès, Valentin « Pouet » Dhilly <br>
<strong>Illustrations </strong>: Julien « Pretre » Roulic, Julien Bès, Igor Polouchine, Rilaam<br>
</p>
<h1>Crédits</h1>
<p><strong>Création </strong>: Igor Polouchine<br>
<strong>Développement </strong>: Julien Bès<br>
<strong>Optimisation de background</strong> : Vincent Lelavechef</p>
<p><strong>Edition </strong>: Origames<br>
<strong>Direction de publication</strong> : Guillaume Gille-Naves<br>
<strong>Direction artistique</strong> : Igor Polouchine<br>
<strong>Maquette</strong> : Igor Polouchine, Julien Bès, Léo Faggianelli<br>
<strong>Communication </strong> : Vincent Lelavechef</p>
<p><strong>Textes de la première édition</strong> : Igor Polouchine, Bernard Rastoin, Benoit Attinost, Julien Blondel<br>
<strong>Textes de la Renaissance :</strong> Igor Polouchine, Julien Bès, Vincent Lelavechef, Mathieu Castex, Mahyar Shakeri, Victor Polouchine, David Bakhoum, Rodolphe Gilbart, Clem, Alexandre Marchand, Melchior Pelleterat de Borde<br>
<strong>Système de Jeu</strong> : Igor Polouchine, Julien Bès<br>
<strong>Background seconde édition</strong> : Igor Polouchine, Vincent Lelavechef, Julien Bès, Matt le Chacal<br>
<strong>Atlas</strong> : Igor Polouchine, Julien Bès, Mahyar Shakeri, Victor Polouchine<br>
<strong>Campagne Sareneï</strong> : Mathieu Castex, Alexandre Marchand, Julien Bès<br>
<strong>Autres scénarios</strong> : Igor Polouchine, Vincent Lelavechef, Julien Bès, Melchior Pelleterat de Borde, Mahyar Shakeri, David Bakhoum, Olivier Auffredou</p>
<p><strong>Illustrations de la première édition</strong> : Mathieu Lauffray, Claire Wendling, Denis Bajram, Benoit Springer, Damien Jacob, Bernard Bittler, Jean Christophe Haut-bois, Christophe Swal, Thierry Mason, Igor Polouchine<br>
<strong>Mise en Couleur</strong> : Kevin Lemoigne, Cyril Nouvel, Sebastien Lamirand, Igor Polouchine, Matthieu Rebuffat, Carole Chaland, Frédéric Falaise<br>
<strong>Illustrations originales</strong> : Igor Polouchine, Agnès Calcinette, Nadia Fontaine, Alexandre Marchand, Dimitri Chappuis, Cyril Nouvel, Espen Olsen Sætervik, Matthieu Rebuffat, Biboun, Axelle Psychee Bouet, Ysha, Didier Florentz, John Park, Régis Torres, Fabrice Wachter, Alexey Yakovlev, Joël Jurion, Antony Wolff, Raxa, Estellarana, Sébastien Lamirand, Frédéric Genet, Frédéric Falaise<br>
<strong>Illustration de couverture</strong> : Alexey Yakovlev</p>
<p><strong>Contributions musicales</strong> : Cyril Planchon, Igor Polouchine</p>
<p><strong>Relectures et Corrections</strong> : Anne Kimpe, Marc Aubry, Rodolphe Gilbart, David Benoit, Melchior Pelleterat de Borde, Mahyar Shakeri, Willy Mangin, Yvonig Le Corre, Olivier Auffredou, Frédéric Falaise, David Pen, Xavier Laurent, Stéphane ldczak et la communauté du forum shaan-rpg.com dont Puchu, Ziv, Antho, sb14, Tremo, Phil, Loveluck, Duossaergof, Krikroune, Sebpepito, Suhuy, Lazarhus, LeKaggan, Nadine, Ryanthusar, Epinards, Algeroth, Zeylion, etc.</p>
<h1>REMERCIEMENTS</h1>
<p>Un grand merci à <strong>Bernard Rastoin, Julien Blondel et Benoit Attinost</strong> qui nous ont gracieusement permis de réutiliser leurs textes.</p>
<p>Un immense merci à <strong>Mathieu Lauffray, Claire Wendling, Denis Bajram, Benoit Springer, Damien Jacob, Bernard Bittler, Jean Christophe Haut-bois, et Christophe Swal</strong> pour avoir accepté que leurs illustrations puissent être réutilisées et mises en couleur.</p>
<p>Un remerciement spécial à <strong>Kevin Lemoigne</strong>, qui a fait des mises en couleurs fantastiques et nous a filé un sacré coup de main au tout début de cette réédition, ainsi qu’à <strong>Agnès Calcinette</strong> pour ses illustrations originales de créatures.</p>
<p>Encore merci à <strong>Espen Olsen Sætervik</strong> pour nous avoir gracieusement permis d’utiliser une quantité incroyable de visuels.</p>
<p>Merci à <strong>Biboun, Mathieu Rebuffat, Axelle Psychee Bouet, Ysha et Dimitri Chappuis</strong>, pour nous avoir également confié leurs visuels avec générosité, ainsi qu’à <strong>Cyril Nouvel&nbsp;et Sébastien Lamirand</strong> pour leurs magnifiques colorisations.</p>
<p>Merci à <strong>Solaris, Yannock, Vincent Lelavechef, Matt le Chacal, Manu, David Benoit</strong>, pour leurs réflexions éclairées sur le système de jeu.</p>
<p>Un merci global et vital à tous les apprentis shaanistes de la première heure qui ont fondé la communauté de la Mailing-List Shaan et qui ont contribué de près ou de loin au projet de Renaissance : <strong>Milousel, Mahendra, Joujounka, Maverick, Alex, Godof, Elitos, Ben, Maneval, Matt le Chacal, Sammy, Lameth, j-f, Lostildon, Solaris, Morelwe, Shadow, Chymera, Le 3ème Voyageur, Drimspeaker, Yohm, Manu, Anatheme, Vent de Dün, Yannock, Joaquim, Yamiroh, Benj, Oui Non, A Man called Vief, Heklyps, Lasselinj, Luceid33, Mahyar, Sewnyprime</strong></p>
<p>Avec un merci particulier à <strong>Maverick et Yohm</strong> pour avoir fait vivre Shaan sur le site du SdEN.</p>
<p>Merci aux partenaires presse et web pour leur accueil toujours chaleureux : <strong>Guillaume Bezançon pour JDR mag, Stéphane Gallot pour Casus Belli, Julien de Jaeger pour D6dent, Romaric Briand pour La Cellule, Benoit Chérel des Chroniques d’Altaride, et tout le staff de scifiuniverse.com</strong>.</p>
<p>Merci aussi aux bienveillants <strong>organisateurs de Conventions</strong> qui nous permettent de faire découvrir Shaan localement.</p>
<p>Merci à <strong>Laurent Gonel</strong> pour son inspiration sur la manière d’appréhender la description d’une race extra terrestre.</p>
<p>Un merci affectueux aux Testeurs qui ont arpenté des terres expérimentales et changeantes : <strong>Rodolphe Gilbart, Anne Kimpe, Yvonig Le Corre, Simon Guillemot, Stéphane Guyon, Nadia Fontaine, Xavier Laurent, Marc Aubry, Olivier Auffredou, Yannick Outreman, David Pen, Frédéric Falaise, Sandra Delaunay, Maïté Verswijvel, Ronan Lahogue, Solaris, Philippe Leyssenne, Fabrice Tilan, Timothée Nénot, Rémi Chupeau, Tatiana Polouchine, Victor Polouchine, Romain Deutsch, Timothée Nénot, Roman Grolleau, Mahyar Shakeri, Aldebaran Geneste, Vincent Vandelli, Justine Bejo</strong>, et tous ceux avec qui on a partagé une table de jeu en convention ou ailleurs, sans oublier les membres de la communauté naissante et déjà vivace du forum du nouveau site Shaan.</p>
<p>Un merci viscéral à <strong>nos familles</strong> qui supportent (dans tous les sens du terme) nos errances héossiennes quotidiennes.</p>
