<div class="tab character" data-group="primary" data-tab="character">
    <section class="character-domains">
        <span class="DomainsLabel">{{localize "SRLabels.DomainsTitle"}}</span>
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/domaincircle.hbs"}}
    </section>
    <hr />
    <section class="character-specialisations">
        <span class="SpecialisationsLabel">{{localize "SRLabels.SpecialisationsTitle"}}</span>
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/specialisations.hbs"}}
    </section>
</div>

