<form class="actor sheet crb-style npc" autocomplete="off">
    <div class="npc-stats">
        <section class="npc-HP">
        
        </section>
        <section class="npc-cercle">
        <span class="DomainsLabel">{{localize "SRLabels.DomainsTitle"}}</span>
        {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/cercle.hbs"}}
        </section>
        <hr/>
        <section class="npc-spés">
            <span class="SpecialisationsLabel">{{localize "SRLabels.SpecialisationsTitle"}}</span>
            {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/specialisations.hbs"}}
        </section>
    </div>
    <div class="npc-infos">
        <div class="npc-general">
            {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/general.hbs"}}
        </div>
        <div class="npc-dice">
                <img src="">
            {{#ifnoteq data.general.race.value "Humain"}}
                <img src="">
            {{/ifnoteq}}
            {{#ifeq data.general.race.value "Humain"}}
                <img src="">
            {{/ifeq}}
        </div>
        <div class="npc-bio">
            {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/bio.hbs"}}
        </div>
        <div class="npc-powers">
            {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/powers.hbs"}}
        </div>


        <div class="npc-acquis">
            {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/acquis.hbs"}}
        </div>
        
    </div>
</form>