<form class="actor sheet crb-style npc" autocomplete="off">

        <div class="npc-cercle">
            cercle
        </div>
        <div class="npc-general">
            {{> "systems/Shaan_Renaissance/templates/actors/PNJ/partials/general.hbs"}}
        </div>
        <div class="npc-powers">
            powers
        </div>
        <div class="npc-bio">
            bio 
        </div>
        <div class="npc-acquis">
            acquis
        </div>
        <div class="npc-spés">
            spés
        </div>

</form>