<form class="item sheet crb-style trihn" autocomplete="off">
    {{!-- HEADER --}}
    {{> "systems/Shaan_Renaissance/templates/items/partials/header.hbs"}}
    <div class="trihn-details">
        <span class="trihn-type">
            <select name="system.trihnType">
                {{#select data.trihnType}}
                {{#each system.trihnTypes}}
                    <option value="{{@key}}">{{@key}}</option>
                {{/each}}
                {{/select}}
            </select>
        </span>
        <div class="puissance">
            <input name="system.puissance" value="{{system.puissance}}"/>
        </div>
        <div class="emplacement">
            <input name="system.emplacement" value="{{system.emplacement}}"/>
        </div>
    </div>
</form>