<form>
  <div class="form-group">
    <label>Type de Pouvoir </label>
    <select name="type" value="{{type}}">
    {{#select type}}
      {{#each config.createPouvoir.esprit as |pouvoirType|}}
      <option value="{{@key}}">{{@key}}</option> 
      {{/each}}
    {{/select}}
    </select>
  </div>
</form>
