<form>
  <div class="form-group">
    <label>Type de Trihn</label>
    <select name="trihn" value="{{trihn}}">
    {{#select trihn}}
      {{#each config.createTrihn.type as |trihnType|}}
      <option value="{{@key}}">{{trihnType}}</option> 
      {{/each}}
    {{/select}}
    </select>
  </div>
</form>
{{log this}}
