<div class="tab powers" data-group="primary" data-tab="powers">
    <div class="pouvoir-compendium">
        <button type="button" style="margin-top: 5px;" class="open-compendium" data-compendium="shaanrenaissance.pouvoirs"><i class="fa-solid fa-list"></i> {{localize "SR.PouvoirCompendium"}}</button>
    </div>
    {{> "systems/shaanrenaissance/templates/actors/partials/pouvoirs-categories.hbs"}}
</div>