<div class="attribute hpBars" style="display: flex; flex-direction: row; position: absolute; top: -50px;">
    {{log actor}}
    <input type="text" name="attributes.hpEsprit.temp" value="{{attributes.hpEsprit.temp}}">
    <input type="text" name="attributes.hpAme.temp" value="{{attributes.hpAme.temp}}">
    <input type="text" name="attributes.hpCorps.temp" value="{{attributes.hpEsprit.temp}}">
</div>