<div class="coinage">
    {{#if editable}}
        <li>
            <button type="button" data-action="add-coins" title="{{localize "SR.AddCoinsTitle"}}">
                <i class="fa-solid fa-plus fa-fw"></i>
            </button>
        </li>
        <li>
            <button type="button" data-action="remove-coins" title="{{localize "SR.RemoveCoinsTitle"}}">
                <i class="fa-solid fa-minus fa-fw"></i>
            </button>
        </li>
    {{/if}}
</div>