<div class="tab morphe" data-group="primary" data-tab="morphe">
    <div class="moduleList itemCategory">
        <header class="moduleList-header">
            <h3>{{localize "SRLabels.Modules"}}</h3>
            {{#ifeq @root.editable true}}
                <div class="item-controls">
                    <a class="item-create" id="graft-add"><i class="fa-solid fa-microchip"></i></a>
                </div>
            {{/ifeq}}
        </header>
        <ol class="liste-items item-list directory-list">
            {{#each morpheModules as |module|}}
            <li class="item acquis" draggable="true" data-item-id="{{module._id}}">
                <div class="acquis-header">
                    <div class="acquis-image">
                        <img class="acquis-icon" src="{{module.img}}" data-edit="img">
                        <i class="acquis-chat fa-solid fa-message"></i>
                    </div>
                    <h4 class="acquis-name">
                        {{module.name}}
                    </h4>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                    <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>




</div>