<header class="char-header">
    <section class="char-details">
        <h1 class="char-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Nom du Personnage" spellcheck="false" />
        </h1>
    </section>
</header>