:root {
    --font-size-5: 0.3125rem;
    --font-size-8: 0.5rem;
    --font-size-9: 0.5625rem;
    --font-size-10: 0.625rem;
    --font-size-15: 0.9375rem;
    --font-size-17: 1.0625rem;
    --font-size-19: 1.1875rem;
    --font-size-21: 1.3125rem;
    --font-size-22: 1.375rem;
    --font-size-26: 1.625rem;
    --font-size-30: 1.875rem;
    --font-size-34: 2.125rem;
    --font-size-36: 2.25rem;
    --font-size-42: 2.625rem;
    --body-serif: Gelasio, Georgia, serif;
    --sans-serif: Roboto, sans-serif;
    --sans-serif-condensed: "Roboto Condensed", var(--sans-serif);
    --sans-serif-monospace: "Roboto Mono", monospace;
    --serif: Eczar, Georgia, serif;
    --serif-condensed: "Modesto Condensed", serif;
    --journal-cursive: "La Belle Aurore", cursive;
    --journal-serif: "Vollkorn", var(--serif);
    --primary: #5e0000;
    --secondary: #171f69;
    --tertiary: #e9d7a1;
    --color-esprit: #b8985a;
    --color-ame: #4263a3;
    --color-corps: #c95b40;
    --color-necrose: #707070;
    --alt: #786452;
    --alt-dark: #443730;
    --bg: #f8f4f1;
    --bg-dark: #e7d9cf;
    --sub: #605856;
    --color-disabled: #ababab;
    --inline-link-bg: #ddd;
    --inline-repost-bg: #eaeaea;
    --visibility-gm-bg: #e8e8ef;
    --visibility-owner-bg: #ddebe1;
    --blind-roll: #f5eaf5;
    --light: #910000;
    --dark: #2b0000;
    --tertiary-dark: #dfc578;
    --tertiary-light: #f3e9ca;
    --body: var(--text-dark);
    --color-text-trait: #f5efe0;
    --text-dark: #1c1c1c;
    --text-light: #fff;
    --color-border-trait: #d8c384;
    --color-border-divider: #baa991;
    --header-color: var(--text-light);
    --header-bg: var(--secondary);
    --sidebar-label: var(--tertiary-dark);
    --sidebar-title: var(--tertiary);
}
/* ACTOR SHEET */
.actor.sheet {
    width: 100%;
    height: 100%;
    display: grid;
    font-family: var(--body-serif);
    grid: "sidebar header"75px "sidebar nav"minmax(min-content, max-content) "sidebar content"1fr/230px 1fr;
    height: 100%
}
.actor.sheet input {
    border-radius: 0;
    border: none;
}
.actor.sheet input:focus {
    box-shadow: none;
}
.actor.sheet select {
    border: none;
    border-radius: 0;
}
.actor.sheet select:focus {
    box-shadow: none;
}
/* ACTOR SHEET SIDEBAR */
.actor.sheet.character aside {
    color: black;
    font-family: var(--serif);
    font-size: var(--font-size-10);
    font-weight: 600;
    grid-area: sidebar;
    margin-left: 8px
}
.actor.sheet.character .sidebar {
    float: left;
    width: 220px;
    margin-top: 5px;
}
.actor.sheet.character .sidebar .sidebar_title h2 {
    font-family: var(--sans-serif);
    color: var(--primary);
    font-weight: 800;
    text-transform: uppercase;
}
.actor.sheet.character aside .logo {
    display: flex;
    justify-content: center;
}
.actor.sheet.character aside .logo-img {
    border: none;
    flex-shrink: 0;
    margin: 0;
    max-width: unset;
    z-index: 10;
    object-fit:cover;
    width: 62%;
    
}
/* SIDEBAR HP */
.actor.sheet aside .sidebar .HP .hp-big {
    background-image: url(../assets/sheet/trihns.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin-bottom: -80px;
    margin-top: -10px;
}
.actor.sheet aside .sidebar .HP .hp-big .hpEsprit, .actor.sheet aside .sidebar .HP .hp-big .hpAme, .actor.sheet aside .sidebar .HP .hp-big .hpCorps {
    text-align: center;
}
.actor.sheet aside .sidebar .HP .hp-big .hpEsprit .hpActuel-esprit, .actor.sheet aside .sidebar .HP .hp-big .hpAme .hpActuel-ame, .actor.sheet aside .sidebar .HP .hp-big .hpCorps .hpActuel-corps {
    width: 40px;
    height: 30px;
    font-size: 30px;
}
.actor.sheet aside .sidebar .HP .hp-big .hpEsprit .hpActuel-esprit input, .actor.sheet aside .sidebar .HP .hp-big .hpAme .hpActuel-ame input, .actor.sheet aside .sidebar .HP .hp-big .hpCorps .hpActuel-corps input {
    height: 36px;
    vertical-align:middle;
}
.actor.sheet aside .sidebar .HP .hp-big .hpEsprit .hpMax-esprit, .actor.sheet aside .sidebar .HP .hp-big .hpAme .hpMax-ame, .actor.sheet aside .sidebar .HP .hp-big .hpCorps .hpMax-corps{
    width: 30px;
    font-size: 20px;
}

.actor.sheet aside .sidebar .HP .hp-big .hpEsprit .hpActuel-esprit {
    position: relative;
    top: 107px;
    left: 38px;
}

.actor.sheet aside .sidebar .HP .hp-big .hpEsprit .hpMax-esprit {
    position: relative;
    top: 120px;
    left: 16px;
}
.actor.sheet aside .sidebar .HP .hp-big .hpAme .hpActuel-ame {
    position: relative;
    top: -23px;
    left: 98px;
}

.actor.sheet aside .sidebar .HP .hp-big .hpAme .hpMax-ame {
    position: relative;
    top: -12px;
    left: 76px;
}
.actor.sheet aside .sidebar .HP .hp-big .hpCorps .hpActuel-corps {
    position: relative;
    top: 21px;
    left: 141px;
}

.actor.sheet aside .sidebar .HP .hp-big .hpCorps .hpMax-corps {
    position: relative;
    top: 34px;
    left: 113px;
}
/* SIDEBAR PROTECTIONS */
.actor.sheet aside .sidebar .protections {
    margin-bottom: 5px;
    text-align: center;
}
.actor.sheet aside .sidebar .protections label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase; 
}
.actor.sheet aside .sidebar .protections input {
    font: 700 var(--font-size-14) var(--body-serif)
}

/* SIDEBAR RESERVE */
.actor.sheet aside .sidebar .reserve-sidebar {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.reserve-line-1 { grid-area: 1 / 1 / 2 / 6; display: flex; flex-direction: row; justify-content: center;}
.reserve-line-2  { grid-area: 2 / 2 / 3 / 5; display: flex; flex-direction: row; justify-content: center;}
.reserve-line-3  { grid-area: 3 / 3 / 4 / 4; display: flex; flex-direction: row; justify-content: center;}

.actor.sheet aside .sidebar .reserve-sidebar label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase; 
}

/* CHARACTER CONTENT */
.actor.sheet.character .content {
    float: right;
    width: calc(100% - 220px);
    padding-left: 5px;
}


/* CHARACTER CONTENT CHARACTER HEADER */
.actor.sheet.character .char-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    justify-content: space-between;
    grid-area: header;
    background-color: var(--color-corps);
}
.actor.sheet.character .char-header .char-details .char-name {
    border: none;
    text-align: left;
}
.actor.sheet.character .char-header .char-exp {
    display: flex;
}
/* ACTOR SHEET NAVIGATION */
.actor.sheet.character .sheet-navigation {
    background-color: var(--secondary);
    grid-area: nav;
    margin-left: -2px
}
.actor.sheet nav.sheet-navigation {
    align-items: center;
    background: var(--secondary);
    border-bottom: 1px solid hsla(0, 0%, 100%, .5);
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    display: inline-flex;
    height: 20px;
    justify-content: center;
    position: relative;
    transition: all .1s ease-out
}
.actor.sheet nav.sheet-navigation .navigation-title {
    color: var(--text-light);
    margin-right: auto;
    padding-left: 1em;
    white-space: nowrap;
    width: 7em
}
.actor.sheet nav.sheet-navigation .item.active, .actor.sheet nav.sheet-navigation .item:hover {
    fill: var(--text-light);
    background-image: url(../assets/sheet/nav-item.webp);
    color: var(--text-light);
    transform: scale(1.2);
    z-index: 2;
}
.actor.sheet nav.sheet-navigation .item:last-child {
    margin-right: 10px
}
.actor.sheet nav.sheet-navigation .item .fas {
    padding-bottom: 0
}
.actor.sheet.character .sheet-body .sheet-content nav:after, .actor.sheet.character .sheet-body .sheet-content nav:before {
    background: url(../assets/sheet/sub-nav-decoration.png);
    content: "";
    height: 16px;
    margin: 0 16px;
    width: 37px
}
.actor.sheet nav.sheet-navigation .item {
    fill: var(--tertiary);
    background-image: url(../assets/sheet/nav-item-inactive.webp);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, .25);
    color: var(--tertiary);
    height: 24px;
    transition: all .1s ease-out;
    width: 24px;
    z-index: 1
}
.actor.sheet nav.sheet-navigation>a {
    align-items: center;
    display: flex;
    font-size: var(--font-size-12);
    justify-content: center;
    margin: 0 6px;
}
.actor.sheet.character nav.sheet-navigation .manage-tabs {
    color: #fff;
    margin: 0;
    padding: 0 6px
}

/* CHARACTER CONTENT */
.actor.sheet.character .sheet-body {
    /* background-color: var(--color-ame); */
    grid-area: content;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100% - 35px);
    overflow: hidden;
    margin-left: 10px;
    overflow-y: scroll
}
.crb-style .details-label {
    color: var(--primary);
    font-family: var(--sans-serif);
    font-size: .625rem;
    font-weight: 800;
    line-height: 1;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap
}
.tab.character.active {
    display: flex;
    flex-direction: column;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-details {
    display: grid;
    grid: "img vide shaani"46px "img details details"auto/120px 130px 1fr;
    margin-top: 4px
}
.actor.sheet .sheet-body .sheet-content>.tab {
    padding: .6rem .6rem 0
}

/* General tab img */
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-details .frame-container {
    grid-area: img;
    margin-left: 5px
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active hr {
    margin: 10px 6px 10px 0
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-details .frame .player-image {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, inset 0 0 8px rgba(0, 0, 0, .5), 0 0 8px #000;
    cursor: pointer;
    max-height: 178px;
    object-fit: cover;
    object-position: top;
    width: 100%
}
.actor.sheet .image-container .hover-icon {
    display: none;
    font-size: var(--font-size-16)
}
.actor.sheet .image-container:hover .hover-icon {
    display: block
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active.active .vide {
    grid-area: vide;
}
/* General Tab */
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .pc input {
    background-color: rgba(28, 28, 28, .1);
    border: none;
    color: var(--body);
    display: flex;
    font: 700 var(--font-size-14) var(--body-serif);
    grid-area: mod;
    line-height: 1;
    margin: 0;
    padding: 8px 4px 6px;
    width: calc(100% - 6px)
}

/* General Tab Details */
.actor.sheet.character .sheet-body .sheet-content .tab.character.active.active .character-details .pc.pc_shaani{
    grid-area: shaani;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-details .detail-sheet {
    grid-row-gap: 8px;
    display: grid;
    grid-area: details;
    grid-template-columns: 44% 55%;
    grid-template-rows: repeat(2, 42px);
    margin-top: 8px;
    padding-left: 12px
}

/* General Tab Bio */

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-background {
    display: flex;
    flex-wrap: wrap
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-background .pc {
    align-items: start;
    display: flex;
    flex: 20%;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 8px
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-background .pc span {
    width: 100%
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-background .pc_motivations {
    flex: 100%;
    margin-bottom: 0
}

/* General Tab Domaines */

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .DomainsLabel {
    grid-area: titre;
    color: var(--primary);
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    border-bottom: 2px solid var(--primary)
}

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains {
    display: grid;
    grid: "titre titre titre" "technique arts rituels" "savoir shaan survie" "social magie combat" "vide2 necrose vide3";
    gap: 1%;
    margin-bottom: 10px;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-esprit, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-ame, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-corps, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-necrose {
    display: grid;
    grid: "label label label" "base actuel xp";
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-actuel, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-base, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-exp{
    flex: 50%;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-actuel {
    grid-area: actuel;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-base {
    grid-area: base;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-exp {
    grid-area: xp;
    
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-base, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-actuel, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-exp{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-size: .625rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-label {
    grid-area: label;
    text-align: center;
    flex: 100%
}

/* General Tab domaines Esprit */

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-esprit .domain-label{
    background: var(--color-esprit);
    color: var(--tertiary);
    font-family: var(--sans-serif);
    font-size: .8rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap
}

/* General Tab domaines Ame */

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-ame .domain-label{
    background: var(--color-ame);
    color: var(--secondary);
    font-family: var(--sans-serif);
    font-size: .8rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap
}

/* General Tab domaines Corps */

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-corps .domain-label{
    background: var(--color-corps);
    color: var(--primary);
    font-family: var(--sans-serif);
    font-size: .8rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap
}

/* General Tab domaine Necrose */
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-necrose {
    grid-area: necrose;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains .domain-necrose .domain-label {
    background: var(--color-necrose);
    color: black;
    font-family: var(--sans-serif);
    font-size: .8rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap
}


/* General Tab Specialisations */

.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .SpecialisationsLabel {
    grid-area: spésTitre;
    color: var(--primary);
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    border-bottom: 2px solid var(--primary)
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations {
    display: grid;
    grid: "spésTitre spésTitre spésTitre" "spéstechnique spésarts spésrituels" "spéssavoir spésshaan spéssurvie" "spéssocial spésmagie spéscombat" "spésvide spésnecrose spésvide2";
    gap: 1%;
}
/* General Tab Specialisations Grid */
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-esprit, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-ame, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-corps, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-nécrose {
    display: grid;
    grid: "spéInTitre spéInTitre spéInTitre" "spé1 spé1 spé1" "spé2 spé2 spé2" "spé3 spé3 spé3" "spé4 spé4 spé4" "spé5 spé5 spé5" "spé6 spé6 spé6" "spé7 spé7 spé7" "spé8 spé8 spé8" "spé9 spé9 spé9" "spé10 spé10 spé10";
    column-gap: 1%;
    row-gap: 3px;
    color: black;
    font-family: var(--sans-serif);
    font-size: .7rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-esprit .specialisations-title {
    grid-area: spéInTitre;
    background-color: var(--color-esprit);
    display: grid;
    grid: "spéInsideTitre spéInsideAcquis";
    color: var(--tertiary);
    font-family: var(--sans-serif);
    column-gap: 1%;
    font-size: .7rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-ame .specialisations-title {
    grid-area: spéInTitre;
    background-color: var(--color-ame);
    display: grid;
    grid: "spéInsideTitre spéInsideAcquis";
    color: var(--secondary);
    font-family: var(--sans-serif);
    column-gap: 1%;
    font-size: .7rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-corps .specialisations-title {
    grid-area: spéInTitre;
    background-color: var(--color-corps);
    display: grid;
    grid: "spéInsideTitre spéInsideAcquis";
    color: var(--primary);
    font-family: var(--sans-serif);
    column-gap: 1%;
    font-size: .7rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-nécrose {
    grid-area: spésnecrose;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .specialisations-nécrose .specialisations-title {
    grid-area: spéInTitre;
    background-color: var(--color-necrose);
    display: grid;
    grid: "spéInsideTitre spéInsideAcquis";
    color: black;
    font-family: var(--sans-serif);
    column-gap: 1%;
    font-size: .7rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .pc .specialisations-bonus-label {
    font-size: .6rem;
    align-self: center;
    text-align: right;
    padding-right: 1px;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations .pc .specialisation-label {
    align-self: center;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-specialisations input, .actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains {
    text-align: center;
}
.actor.sheet.character .sheet-body .sheet-content .tab.character.active .character-domains input {
    width: 100%
}


/* ACTOR SHEET CHARACTER POWERS TAB*/

/* POWER TAB TRIHN HEADER */
.actor.sheet.character .tab.powers .trihn-header {
    display: grid; 
    grid: "powerTrihn power-add" "content content";
    border-top-right-radius: 5px;
}
.actor.sheet.character .tab.powers .Esprit .trihn-header {
    background-color: var(--color-esprit);
}
.actor.sheet.character .tab.powers .Ame .trihn-header {
    background-color: var(--color-ame);
}
.actor.sheet.character .tab.powers .Corps .trihn-header {
    background-color: var(--color-corps);
}
.actor.sheet.character .tab.powers .Nécrose .trihn-header {
    background-color: var(--color-necrose);
}
.actor.sheet.character .tab.powers .trihn-header h3 {
    border: none;
    margin:0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: var(--font-size-17);
    font-family: var(--sans-serif);
    font-weight: 700;
    text-transform: uppercase;
}
.actor.sheet.character .tab.powers .trihn-header .item-controls {
    padding-right: 10px;
    justify-self: right;
    align-self: center;
}
.actor.sheet.character .tab.powers .item-control i.fas::before:hover {
    box-shadow: none;
}

/* POWER TAB TRIHN CONTENT */
.actor.sheet.character .tab.powers .liste-pouvoir img {
    max-width: 100%;
    border: none;
}
.actor.sheet.character .tab.powers ol {
    list-style-type: none;
    padding: 0;
}
.actor.sheet.character .tab.powers .liste-pouvoir li {
    display: grid;
    grid: "power-item-header" "power-item-résumé";
    background-color: rgba(28, 28, 28, .1);
    padding: 0.5em;
}
.actor.sheet.character .tab.powers .liste-pouvoir li .pouvoir-header {
    display: grid;
    grid: "pouvoir-item-img pouvoir-item-name pouvoir-item-controls";
    grid-template-columns: 40px 369.812px 40px;
}
.actor.sheet.character .tab.powers .liste-pouvoir .pouvoir-header img {
    grid-area: pouvoir-item-img;
}
.actor.sheet.character .tab.powers .liste-pouvoir .pouvoir-header span {
    font: 700 var(--font-size-16) var(--body-serif);
    align-self: center;
    padding-left: 5px;
}
.actor.sheet.character .tab.powers .liste-pouvoir .pouvoir-header .item-controls {
    grid-area: pouvoir-item-controls;
    float: right;
}
.actor.sheet.character .tab.powers .liste-pouvoir {
    display: grid;
    grid-gap: 2px;
}
.actor.sheet.character .tab.powers .Esprit .liste-pouvoir {
    border: 3px solid var(--color-esprit);
    border-top: none;
    margin: 0;
    margin-bottom: 10px;
}
.actor.sheet.character .tab.powers .Ame .liste-pouvoir {
    border: 3px solid var(--color-ame);
    border-top: none;
    margin: 0;
    margin-bottom: 10px;
}
.actor.sheet.character .tab.powers .Corps .liste-pouvoir {
    border: 3px solid var(--color-corps);
    border-top: none;
    margin: 0;
    margin-bottom: 10px;
}
.actor.sheet.character .tab.powers .Nécrose .liste-pouvoir {
    border: 3px solid var(--color-necrose);
    border-top: none;
    margin: 0;
    margin-bottom: 10px;
}



/* ACTOR TAB CHARACTER ACQUIS */

.actor.sheet.character .tab.acquis .acquis-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.actor.sheet.character .tab.acquis .acquis-top .acquis-money label, .actor.sheet.character .tab.acquis .acquis-top .acquis-préstige label {
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase; 
}
.actor.sheet.character .tab.acquis .acquis-top .acquis-money input, .actor.sheet.character .tab.acquis .acquis-top .acquis-préstige input {
    background-color: rgba(28, 28, 28, .1);
    border: none;
    color: var(--body);
    display: flex;
    font: 700 var(--font-size-14) var(--body-serif);
    line-height: 1;
    margin: 0;
    padding: 8px 4px 6px;
    width: calc(100% - 6px)
}
.actor.sheet.character .tab.acquis .acquis-ressources .ressources-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.ressource.Verre { grid-area: 1 / 1 / 2 / 2; }
.ressource.Bois { grid-area: 1 / 2 / 2 / 3; }
.ressource.Or { grid-area: 1 / 3 / 2 / 4; }
.ressource.Population { grid-area: 1 / 4 / 2 / 5; }
.ressource.Pierre { grid-area: 1 / 5 / 2 / 6; }
.ressource.Trihnite { grid-area: 2 / 1 / 3 / 2; }
.ressource.Animal { grid-area: 2 / 2 / 3 / 3; }
.ressource.Cultures { grid-area: 2 / 3 / 3 / 4; }
.ressource.Métal { grid-area: 2 / 4 / 3 / 5; }
.ressource.Hydrocarbures { grid-area: 2 / 5 / 3 / 6; }

.actor.sheet.character .tab.acquis .acquis-ressources .ressource {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}
.actor.sheet.character .tab.acquis .acquis-ressources .ressource img{
    max-width: 100%;
    border: none;
}
/* ACQUIS CATEGORY HEADER */

.actor.sheet.character .tab.acquis .ressources-header {
    border-top-right-radius: 5px;
    background-color: #755137;
}
.actor.sheet.character .tab.acquis .ressources-header h3 {
    border: none;
    margin:0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: var(--font-size-17);
    font-family: var(--sans-serif);
    font-weight: 700;
    text-transform: uppercase;
}
.actor.sheet.character .tab.acquis .ressources-content {
    border: 3px solid #755137;
    border-top: none;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 10px;
}
.actor.sheet.character .tab.acquis .category-header {
    display: grid; 
    grid: "acquisCategory power-add" "acquisContent acquisContent";
    border-top-right-radius: 5px;
}
.actor.sheet.character .tab.acquis .itemCategory .category-header {
    background-color: #755137;
}

.actor.sheet.character .tab.acquis .category-header h3 {
    border: none;
    margin:0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: var(--font-size-17);
    font-family: var(--sans-serif);
    font-weight: 700;
    text-transform: uppercase;
}
.actor.sheet.character .tab.acquis .category-header .item-controls {
    padding-right: 10px;
    justify-self: right;
    align-self: center;
}
.actor.sheet.character .tab.acquis .item-control i.fas::before:hover {
    box-shadow: none;
}


/* ACQUIS TAB CATEGORY CONTENT */

.actor.sheet.character .tab.acquis .liste-items img {
    max-width: 100%;
    border: none;
}
.actor.sheet.character .tab.acquis ol {
    list-style-type: none;
    padding: 0;
}
.actor.sheet.character .tab.acquis .liste-items li {
    display: grid;
    grid: "acquis-item-header" "acquis-item-résumé";
    background-color: rgba(28, 28, 28, .1);
    padding: 0.5em;
}
.actor.sheet.character .tab.acquis .liste-items li .acquis-header {
    display: grid;
    grid: "acquis-item-img acquis-item-name acquis-item-controls";
    grid-template-columns: 40px 369.812px 40px;
}
.actor.sheet.character .tab.acquis .liste-items .acquis-header img {
    grid-area: acquis-item-img;
}
.actor.sheet.character .tab.acquis .liste-items .acquis-header span {
    font: 700 var(--font-size-16) var(--body-serif);
    align-self: center;
    padding-left: 5px;
}
.actor.sheet.character .tab.acquis .liste-items .acquis-header .item-controls {
    grid-area: acquis-item-controls;
    float: right;
}
.actor.sheet.character .tab.acquis .liste-items {
    display: grid;
    grid-gap: 2px;
}
.actor.sheet.character .tab.acquis .liste-items {
    border: 3px solid #755137;
    border-top: none;
    margin: 0;
    margin-bottom: 10px;
}