/* creature WINDOW */
.window-app.sheet.Créature .window-content {
  padding: 0 !important;
}
.actor.sheet.creature {
  background: url(../assets/sheet/template_shaan_background1.jpg);
  background-size: auto 2000px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.window-app.sheet.Créature .window-content form {
  padding: 10px;
  height: auto;
}
.actor.sheet.creature hr {
  margin: 10px 6px 10px 0;
}

.actor.sheet.creature .creature-stats {
  grid-area: 1 / 4 / 5 / 7;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.actor.sheet.creature .creature-infos {
  grid-area: 1 / 1 / 5 / 4;
  display: flex;
  flex-direction: column;
}

/* creature HP */

.actor.sheet.creature .creature-HP {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 17px repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 5px;
  color: var(--primary);
}
.actor.sheet.creature .creature-HP input,
.actor.sheet.creature .creature-general input,
.actor.sheet.creature .creature-bio input,
.actor.sheet.creature .creature-stats input {
  font: 700 var(--font-size-14) var(--body-serif);
  text-align: center;
}
.actor.sheet.creature .creature-general input {
  text-align: start !important;
}
.actor.sheet.creature .creature-bio textarea {
  font: 700 var(--font-size-14) var(--body-serif);
}
.actor.sheet.creature .creature-stats .creature-cercle label {
  text-align: center;
}
.actor.sheet.creature .char-name input {
  font-family: Komikazoom !important;
  font-size: var(--font-size-20);
  text-transform: uppercase;
}
.actor.sheet.creature .creature-HP h3 {
  margin: 0;
}
.actor.sheet.creature .creature-HP .hp-esprit {
  margin-top: 2px;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.actor.sheet.creature .creature-HP .hp-ame {
  margin-top: 2px;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.actor.sheet.creature .creature-HP .hp-corps {
  margin-top: 2px;
  grid-area: 2 / 3 / 3 / 4;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.esprit-label {
  grid-area: 1 / 1 / 2 / 3;
}
.ame-label {
  grid-area: 1 / 1 / 2 / 3;
}
.corps-label {
  grid-area: 1 / 1 / 2 / 3;
}

.hpActuel-esprit {
  grid-area: 2 / 2 / 3 / 3;
}
.hpActuel-ame {
  grid-area: 2 / 2 / 3 / 3;
}
.hpActuel-corps {
  grid-area: 2 / 2 / 3 / 3;
}

.hpMax-esprit {
  grid-area: 3 / 2 / 4 / 3;
}
.hpMax-ame {
  grid-area: 3 / 2 / 4 / 3;
}
.hpMax-corps {
  grid-area: 3 / 2 / 4 / 3;
}

.actor.sheet.creature .creature-HP .TrihnsLabel {
  grid-area: 1 / 1 / 2 / 4;
  color: var(--primary);
  font-family: Komikazoom;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary);
}
.actor.sheet.creature .creature-HP .data-value h2 {
  border: 0;
  margin: 0;
}

/* creature Armor */
.actor.sheet.creature .protection-label {
  color: var(--primary);
  font-family: var(--title);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary);
}
.actor.sheet.creature .protections-big {
  text-align: center;
}
.actor.sheet.creature .protections-big label {
  font-family: var(--title);
  font-weight: 400;
  border: 0;
  color: var(--primary);
}

/* creature Cercle  */
.actor.sheet.creature .creature-cercle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px repeat(4, 0.1fr);
  gap: 1%;
  margin-bottom: 10px;
}
.actor.sheet.creature .creature-cercle .DomainsLabel {
  grid-area: 1 / 1 / 2 / 4;
  color: var(--primary);
  font-family: Komikazoom;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary);
}
.actor.sheet.creature .creature-cercle .creature_domain-technique {
  grid-area: 2 / 1 / 3 / 2;
}
.actor.sheet.creature .creature-cercle .creature_domain-arts {
  grid-area: 2 / 2 / 3 / 3;
}
.actor.sheet.creature .creature-cercle .creature_domain-rituels {
  grid-area: 2 / 3 / 3 / 4;
}
.actor.sheet.creature .creature-cercle .creature_domain-savoir {
  grid-area: 3 / 1 / 4 / 2;
}
.actor.sheet.creature .creature-cercle .creature_domain-shaan {
  grid-area: 3 / 2 / 4 / 3;
}
.actor.sheet.creature .creature-cercle .creature_domain-survie {
  grid-area: 3 / 3 / 4 / 4;
}
.actor.sheet.creature .creature-cercle .creature_domain-social {
  grid-area: 4 / 1 / 5 / 2;
}
.actor.sheet.creature .creature-cercle .creature_domain-magie {
  grid-area: 4 / 2 / 5 / 3;
}
.actor.sheet.creature .creature-cercle .creature_domain-combat {
  grid-area: 4 / 3 / 5 / 4;
}
.actor.sheet.creature .creature-cercle .creature_domain-necrose {
  grid-area: 5 / 2 / 6 / 3;
}

.actor.sheet.creature .creature-cercle .domain-esprit,
.actor.sheet.creature .creature-cercle .domain-ame,
.actor.sheet.creature .creature-cercle .domain-corps,
.actor.sheet.creature .creature-cercle .domain-necrose {
  display: grid;
  grid: "label label label" 15px "base actuel xp";
}
.actor.sheet.creature .creature-cercle .domain-actuel,
.actor.sheet.creature .creature-cercle .domain-base,
.actor.sheet.creature .creature-cercle .domain-exp {
  flex: 50%;
}
.actor.sheet.creature .creature-cercle .domain-actuel {
  grid-area: actuel;
  display: flex;
  flex-direction: column;
}
.actor.sheet.creature .creature-cercle .domain-base {
  grid-area: base;
  display: flex;
  flex-direction: column;
}
.actor.sheet.creature .creature-cercle .domain-exp {
  width: 20px;
  grid-area: xp;
  display: flex;
  flex-direction: column;
  align-self: start;
}
.actor.sheet.creature .creature-cercle .domain-exp input {
  height: 20px;
  background: none;
  border-bottom: 1px solid black;
}

.actor.sheet.creature .domain-base,
.actor.sheet.creature .domain-actuel,
.actor.sheet.creature .domain-exp {
  color: var(--primary);
  font-family: var(--sans-serif);
  font-size: 0.625rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.actor.sheet.creature .domain-label {
  grid-area: label;
  text-align: center;
  flex: 100%;
}
.actor.sheet.creature .domain-base input {
  font: 800 var(--font-size-19) var(--body-serif);
}

/* creature jets */
.actor.sheet.creature .creature-dice {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.actor.sheet.creature .creature-dice h3 {
  color: var(--primary);
  margin: 0;
  margin-left: 5px;
  align-self: center;
}
.actor.sheet.creature .creature-dice .roll-icon {
  align-self: center;
  margin-left: 3px;
}
.actor.sheet.creature .creature-dice .roll-icon img {
  border: 0;
}
/*  domaines Esprit */

.actor.sheet.creature .domain-esprit .domain-label {
  background: var(--color-esprit);
  color: #fffcdb;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/*  domaines Ame */

.actor.sheet.creature .domain-ame .domain-label {
  background: var(--color-ame);
  color: #d5eefc;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/*  domaines Corps */

.actor.sheet.creature .domain-corps .domain-label {
  background: var(--color-corps);
  color: #fbdaca;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* domaine Necrose */
.actor.sheet.creature .domain-necrose {
  grid-area: necrose;
}
.actor.sheet.creature .domain-necrose .domain-label {
  background: var(--color-necrose);
  color: black;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* creature Spécialisations */

.actor.sheet.creature .creature-spés .SpecialisationsLabel {
  grid-area: spésTitre;
  color: var(--primary);
  font-family: Komikazoom;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  border-bottom: 2px solid var(--primary);
}
.actor.sheet.creature .creature-spés {
  grid-template-columns: repeat(3, 140.141px);
  display: grid;
  grid: "spésTitre spésTitre spésTitre" "spéstechnique spésarts spésrituels" "spéssavoir spésshaan spéssurvie" "spéssocial spésmagie spéscombat" "spésvide spésnecrose spésvide2";
  gap: 1%;
}
.actor.sheet.creature .specialisations-esprit,
.actor.sheet.creature .creature-spés .specialisations-ame,
.actor.sheet.creature .creature-spés .specialisations-corps,
.actor.sheet.creature .creature-spés .specialisations-nécrose {
  display: grid;
  grid: "spéInTitre spéInTitre spéInTitre" "spé1 spé1 spé1" "spé2 spé2 spé2" "spé3 spé3 spé3" "spé4 spé4 spé4" "spé5 spé5 spé5" "spé6 spé6 spé6" "spé7 spé7 spé7" "spé8 spé8 spé8" "spé9 spé9 spé9" "spé10 spé10 spé10";
  column-gap: 1%;
  row-gap: 3px;
  color: black;
  font-family: var(--sans-serif);
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.actor.sheet.creature
  .creature-spés
  .specialisations-esprit
  .specialisations-title {
  grid-area: spéInTitre;
  background-color: var(--color-esprit);
  display: grid;
  grid: "spéInsideTitre";
  color: #fffcdb;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet.creature
  .creature-spés
  .specialisations-ame
  .specialisations-title {
  grid-area: spéInTitre;
  background-color: var(--color-ame);
  color: #d5eefc;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet.creature
  .creature-spés
  .specialisations-corps
  .specialisations-title {
  grid-area: spéInTitre;
  background-color: var(--color-corps);
  color: var(--primary);
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet.creature
  .creature-spés
  .specialisations-corps
  .specialisations-title {
  grid-area: spéInTitre;
  background-color: var(--color-corps);
  color: #fbdaca;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet.creature .creature-spés .specialisations-nécrose {
  grid-area: spésnecrose;
}
.actor.sheet.creature
  .creature-spés
  .specialisations-nécrose
  .specialisations-title {
  grid-area: spéInTitre;
  background-color: var(--color-necrose);
  display: grid;
  grid: "spéInsideTitre spéInsideAcquis";
  color: black;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet.creature .creature-spés .creature a {
  align-self: center;
}
.actor.sheet.creature .creature-spés .creature a label {
  font-size: 10px;
}

/* creature General */
.actor.sheet.creature .creature-general {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.actor.sheet.creature .creature-general .creature_frame-container {
  grid-area: 1 / 1 / 4 / 3;
  align-self: center;
  justify-self: center;
  margin-right: 10px;
}
.actor.sheet.creature
  .creature-general
  .creature_frame-container
  .frame
  .player-image {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39,
    inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px #000;
  cursor: pointer;
  max-height: 178px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
.actor.sheet.creature .creature-general .creature_char-details {
  grid-area: 1 / 3 / 2 / 5;
  font-family: var(--title);
  height: 30px;
}
.actor.sheet.creature .creature-general .creature_classe {
  grid-area: 2 / 3 / 3 / 4;
}
.actor.sheet.creature .creature-general .creature_role {
  grid-area: 2 / 4 / 3 / 5;
}
.actor.sheet.creature .creature-general .creature_taille {
  grid-area: 3 / 3 / 4 / 4;
}
.actor.sheet.creature .creature-general .creature_poids {
  grid-area: 3 / 4 / 4 / 5;
}
.actor.sheet.creature .creature-general .creature_milieu {
  grid-area: 4 / 1 / 4 / 5;
}

.actor.sheet.creature .creature-general input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
}
.actor.sheet.creature .creature-general .creature h3 span.value {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 87%;
}
/* creature Bio */
.actor.sheet.creature .creature-bio textarea {
  min-height: 240px;
  min-width: 100%;
  resize: none;
  border: none;
  border-radius: 0;
}
.actor.sheet.creature .creature-bio textarea:focus {
  box-shadow: none;
}
