/* ITEM POUVOIR SHEET */
.item.sheet.pouvoir {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "pouvoir-header"70px "rang"minmax(min-content, max-content) "content";
}

/* POUVOIR INPUT */
.item.sheet input {
    border-radius: 0;
    border: none;
}
.item.sheet input:focus {
    box-shadow: none;
}
/* ITEM HEADER */
.item.sheet.pouvoir .sheet-header {
    grid-area: pouvoir-header;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet .sheet-header .item-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.item.sheet .sheet-header .item-name input {
    height: 50px;
    font: 700 var(--font-size-22) var(--body-serif);
}
.item.sheet .sheet-header img {
    border: none;
    flex: 0 0 64px;
    margin-right: 6px;
    object-fit: contain;
}
.item.sheet .sheet-header span {
    float: right;
    align-self: start;
    flex: 0.4;
}
.item.sheet .sheet-header span input {
    text-align: end;
}
/* POUVOIR CONTENT */
.item.sheet.pouvoir .pouvoir-rank {
    grid-area: rang;
    display: grid;
}
.item.sheet select {
    border: none;
    border-radius: 0;
    font: 700 var(--font-size-14) var(--body-serif);
}
.item.sheet select:focus {
    box-shadow: none;
}
.item.sheet .select {
    width: 99%
}
.item.sheet input {
    font: 700 var(--font-size-14) var(--body-serif);
}
.item.sheet textarea {
    font: 600 var(--font-size-12) var(--body-serif);
}
.item.sheet .pouvoir-rank .locked-input-rank {
    width: 165px;
}
.item.sheet .pouvoir-rank input {
    width: 60px;
    font-weight: bold
}
.item.sheet .sheet-header h2 {
    border: none;
    margin-bottom: 0;
}
.item.sheet.pouvoir .pouvoir-details {
    grid-area: content;
    display: grid;
    grid: "pouvoirType pouvoirFréquence pouvoirActivation pouvoirDurée"minmax(min-content, max-content) "pouvoirPortée pouvoirNbCibles pouvoirScore pouvoirScore"minmax(min-content, max-content) "pouvoirRésumé pouvoirRésumé pouvoirRésumé pouvoirRésumé"minmax(min-content, max-content) "pouvoirDéscription pouvoirDéscription pouvoirDéscription pouvoirDéscription"minmax(min-content, max-content);
}
.item.sheet .pouvoir-details .pouvoir-score {
    grid-area: pouvoirScore
}
.item.sheet .pouvoir-details .pouvoir-résumé {
    grid-area: pouvoirRésumé
}
.item.sheet .pouvoir-details .pouvoir-déscription {
    grid-area: pouvoirDéscription;
}
.item.sheet .pouvoir-details .pouvoir-déscription textarea {
    width: 100% !important;
    height: 140px;
    border: none;
    margin-bottom: 0;
}
.item.sheet .pouvoir-details .pouvoir-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .pouvoir-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .pouvoir-details h3 {
    border: none;
    margin-bottom: 0;
}


/* ARMEMENT CONTENT */

.item.sheet.armement {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "armementHeader"70px "armementRang"minmax(min-content, max-content) "armementContent";
}
.item.sheet.armement .sheet-header {
    grid-area: armementHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.armement .armement-rank {
    grid-area: armementRang;
    display: grid;
}
.item.sheet.armement .armement-details {
    grid-area: armementContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(min-content max-content)) minmax(min-content max-content) repeat(2, minmax(min-content max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.armement .armement-spécialisations {
    grid-area: 1 / 1 / 2 / 5;
}
.item.sheet.armement .armement-portée {
    grid-area: 1 / 5 / 2 / 6;
}
.item.sheet.armement .armement-capacité {
    grid-area: 2 / 1 / 3 / 4;
}
.item.sheet.armement .armement-déscription {
    grid-area: 3 / 1 / 4 / 6; 
}
.item.sheet.armement .armement-fabrication {
    grid-area: 4 / 1 / 5 / 4; 
}
.item.sheet.armement .armement-ressources {
    grid-area: 4 / 4 / 5 / 6;
}
.item.sheet.armement .armement-entretien{
    grid-area: 5 / 1 / 6 / 2;
}
.item.sheet.armement .armement-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.armement .armement-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .armement-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .armement-details h3 {
    border: none;
    margin-bottom: 0;
}

/* ARMIMALE CONTENT */

.item.sheet.armimale {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "armimaleHeader"70px "armimaleRang"minmax(min-content, max-content) "armimaleContent";
}
.item.sheet.armimale .sheet-header {
    grid-area: armimaleHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.armimale .armimale-rank {
    grid-area: armimaleRang;
    display: grid;
}
.item.sheet.armimale .armimale-details {
    grid-area: armimaleContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(min-content max-content)) minmax(min-content max-content) minmax(min-content max-content);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.armimale .armimale-trihns {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.item.sheet.armimale .armimale-protéction {
    grid-area: 1 / 3 / 2 / 4;
}
.item.sheet.armimale .armimale-capacité {
    grid-area: 1 / 4 / 2 / 6;
}
.item.sheet.armimale .armimale-spécialisations {
    grid-area: 2 / 1 / 3 / 4;
}
.item.sheet.armimale .armimale-voie {
    grid-area: 2 / 4 / 3 / 5;
    align-content: end;
}
.item.sheet.armimale .armimale-places {
    grid-area: 2 / 5 / 3 / 6;
}
.item.sheet.armimale .armimale-speed {
    grid-area: 3 / 1 / 4 / 2;
}
.item.sheet.armimale .armimale-valeur {
    grid-area: 3 / 3 / 4 / 4;
}
.item.sheet.armimale .armimale-préstige {
    grid-area: 3 / 4 / 4 / 5;
}
.item.sheet.armimale .armimale-peuple {
    grid-area: 3 / 5 / 4 / 6;
}
.item.sheet.armimale .armimale-déscription {
    grid-area: 4 / 1 / 5 / 6;
}
.item.sheet.armimale .armimale-instinct { 
    grid-area: 5 / 1 / 6 / 2;
}
.item.sheet.armimale .armimale-entretien { 
    grid-area: 5 / 2 / 6 / 3;
}
.item.sheet.armimale .armimale-dressage { 
    grid-area: 6 / 1 / 7 / 5;
}

.item.sheet.armimale .armimale-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.armimale .armimale-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .armimale-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .armimale-details h3 {
    border: none;
    margin-bottom: 0;
}

/* TRANSPORT CONTENT */

.item.sheet.transport {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "transportHeader"70px "transportRang"minmax(min-content, max-content) "transportContent";
}
.item.sheet.transport .sheet-header {
    grid-area: transportHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.transport .transport-rank {
    grid-area: transportRang;
    display: grid;
}
.item.sheet.transport .transport-details {
    grid-area: transportContent;
    display: grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content)) minmax(min-content, max-content) repeat(2, minmax(min-content, max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.transport .transport-trihns {grid-area: 1 / 1 / 2 / 3;display: flex;flex-direction: row;align-items: end;}
.item.sheet.transport .transport-voie {grid-area: 1 / 3 / 2 / 4;align-content: end;}
.item.sheet.transport .transport-places {grid-area: 1 / 4 / 2 / 5;}
.item.sheet.transport .transport-speed {grid-area: 1 / 5 / 2 / 6;}
.item.sheet.transport .transport-spécialisations {grid-area: 2 / 1 / 3 / 4;}
.item.sheet.transport .transport-autonomie {grid-area: 2 / 4 / 3 / 6; }
.item.sheet.transport .transport-valeur {grid-area: 3 / 1 / 4 / 2;}
.item.sheet.transport .transport-préstige { grid-area: 3 / 2 / 4 / 3;}
.item.sheet.transport .transport-déscription {grid-area: 4 / 1 / 5 / 6;}
.item.sheet.transport .transport-ressources { grid-area: 5 / 1 / 6 / 3; }
.item.sheet.transport .transport-entretien { grid-area: 6 / 1 / 7 / 2; }
.item.sheet.transport .transport-fabrication { grid-area: 5 / 3 / 6 / 6; }

.item.sheet.transport .transport-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.transport .transport-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .transport-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .transport-details h3 {
    border: none;
    margin-bottom: 0;
}


/* ARTEFACT CONTENT */

.item.sheet.artefact {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "artefactHeader"70px "artefactRang"minmax(min-content, max-content) "artefactContent";
}
.item.sheet.artefact .sheet-header {
    grid-area: artefactHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.artefact .artefact-rank {
    grid-area: artefactRang;
    display: grid;
}
.item.sheet.artefact .artefact-details {
    grid-area: artefactContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) repeat(2, minmax(min-content, max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.artefact .artefact-spécialisations{ grid-area: 1 / 1 / 2 / 4; }
.item.sheet.artefact .artefact-déscription{ grid-area: 2 / 1 / 3 / 6; }
.item.sheet.artefact .artefact-valeur{ grid-area: 3 / 1 / 4 / 2; }
.item.sheet.artefact .artefact-préstige{ grid-area: 3 / 2 / 4 / 3; }
.item.sheet.artefact .artefact-ressources{ grid-area: 3 / 3 / 4 / 5; }
.item.sheet.artefact .artefact-fabrication{ grid-area: 4 / 1 / 5 / 5;  }

.item.sheet.artefact .artefact-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.artefact .artefact-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .artefact-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .artefact-details h3 {
    border: none;
    margin-bottom: 0;
}


/* MANUSCRIT CONTENT */

.item.sheet.manuscrit {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "manuscritHeader"70px "manuscritRang"minmax(min-content, max-content) "manuscritContent";
}
.item.sheet.manuscrit .sheet-header {
    grid-area: manuscritHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.manuscrit .manuscrit-rank {
    grid-area: manuscritRang;
    display: grid;
}
.item.sheet.manuscrit .manuscrit-details {
    grid-area: manuscritContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) repeat(2, minmax(min-content, max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.manuscrit .manuscrit-spécialisations{ grid-area: 1 / 1 / 2 / 4; }
.item.sheet.manuscrit .manuscrit-déscription{ grid-area: 2 / 1 / 3 / 6; }
.item.sheet.manuscrit .manuscrit-valeur{ grid-area: 3 / 1 / 4 / 2; }
.item.sheet.manuscrit .manuscrit-préstige{ grid-area: 3 / 2 / 4 / 3; }
.item.sheet.manuscrit .manuscrit-ressources{ grid-area: 3 / 3 / 4 / 5; }
.item.sheet.manuscrit .manuscrit-fabrication{ grid-area: 4 / 1 / 5 / 5;  }

.item.sheet.manuscrit .manuscrit-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.manuscrit .manuscrit-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .manuscrit-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .manuscrit-details h3 {
    border: none;
    margin-bottom: 0;
}

/* OUTIL CONTENT */
.item.sheet.outil {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "outilHeader"70px "outilRang"minmax(min-content, max-content) "outilContent";
}
.item.sheet.outil .sheet-header {
    grid-area: outilHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.outil .outil-rank {
    grid-area: outilRang;
    display: grid;
}
.item.sheet.outil .outil-details {
    grid-area: outilContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) repeat(2, minmax(min-content, max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.outil .outil-spécialisations{ grid-area: 1 / 1 / 2 / 4; }
.item.sheet.outil .outil-déscription{ grid-area: 2 / 1 / 3 / 6; }
.item.sheet.outil .outil-valeur{ grid-area: 3 / 1 / 4 / 2; }
.item.sheet.outil .outil-préstige{ grid-area: 3 / 2 / 4 / 3; }
.item.sheet.outil .outil-ressources{ grid-area: 3 / 3 / 4 / 5; }
.item.sheet.outil .outil-fabrication{ grid-area: 4 / 1 / 5 / 5;  }

.item.sheet.outil .outil-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.outil .outil-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .outil-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .outil-details h3 {
    border: none;
    margin-bottom: 0;
}

/* RICHESSE CONTENT */

.item.sheet.richesse {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "richesseHeader"70px "richesseRang"minmax(min-content, max-content) "richesseContent";
}
.item.sheet.richesse .sheet-header {
    grid-area: richesseHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.richesse .richesse-rank {
    grid-area: richesseRang;
    display: grid;
}
.item.sheet.richesse .richesse-details {
    grid-area: richesseContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) repeat(2, minmax(min-content, max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.richesse .richesse-spécialisations{ grid-area: 1 / 1 / 2 / 4; }
.item.sheet.richesse .richesse-déscription{ grid-area: 2 / 1 / 3 / 6; }
.item.sheet.richesse .richesse-valeur{ grid-area: 3 / 1 / 4 / 2; }
.item.sheet.richesse .richesse-préstige{ grid-area: 3 / 2 / 4 / 3; }
.item.sheet.richesse .richesse-ressources{ grid-area: 3 / 3 / 4 / 5; }
.item.sheet.richesse .richesse-fabrication{ grid-area: 4 / 1 / 5 / 5;  }

.item.sheet.richesse .richesse-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.richesse .richesse-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .richesse-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .richesse-details h3 {
    border: none;
    margin-bottom: 0;
}


/* TECHNOLOGIE CONTENT */
.item.sheet.technologie {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "technologieHeader"70px "technologieRang"minmax(min-content, max-content) "technologieContent";
}
.item.sheet.technologie .sheet-header {
    grid-area: technologieHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.technologie .technologie-rank {
    grid-area: technologieRang;
    display: grid;
}
.item.sheet.technologie .technologie-details {
    grid-area: technologieContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content)) minmax(min-content, max-content) repeat(2, minmax(min-content, max-content));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.item.sheet.technologie .technologie-trihns { grid-area: 1 / 1 / 2 / 3; display: flex;flex-direction: row;align-items: end; }
.item.sheet.technologie .technologie-capacité { grid-area: 1 / 3 / 2 / 5; }
.item.sheet.technologie .technologie-portée { grid-area: 1 / 5 / 2 / 6; }
.item.sheet.technologie .technologie-spécialisations { grid-area: 2 / 1 / 3 / 4; }
.item.sheet.technologie .technologie-autonomie { grid-area: 2 / 4 / 3 / 5; }
.item.sheet.technologie .technologie-places { grid-area: 2 / 5 / 3 / 6; }
.item.sheet.technologie .technologie-speed { grid-area: 3 / 1 / 4 / 2; }
.item.sheet.technologie .technologie-valeur { grid-area: 3 / 2 / 4 / 3; }
.item.sheet.technologie .technologie-préstige { grid-area: 3 / 3 / 4 / 4; }
.item.sheet.technologie .technologie-déscription { grid-area: 4 / 1 / 5 / 6; }
.item.sheet.technologie .technologie-ressources { grid-area: 5 / 1 / 6 / 4; }
.item.sheet.technologie .technologie-entretien { grid-area: 5 / 4 / 6 / 6; }
.item.sheet.technologie .technologie-fabrication { grid-area: 6 / 1 / 7 / 5; }

.item.sheet.technologie .technologie-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.technologie .technologie-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .technologie-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .technologie-details h3 {
    border: none;
    margin-bottom: 0;
}


/* PROTECTION CONTENT */

.item.sheet.protection {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "protectionHeader"70px "protectionRang"minmax(min-content, max-content) "protectionContent";
}
.item.sheet.protection .sheet-header {
    grid-area: protectionHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.protection .protection-rank {
    grid-area: protectionRang;
    display: grid;
}
.item.sheet.protection .protection-details {
    grid-area: protectionContent;
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, minmax(min-content max-content)) minmax(min-content max-content) repeat(3, minmax(min-content max-content));
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.item.sheet.protection .protection-trihns { grid-area: 1 / 1 / 2 / 3; display: flex;flex-direction: row;align-items: end; }
.item.sheet.protection .protection-spécialisations { grid-area: 2 / 1 / 3 / 4; }
.item.sheet.protection .protection-déscription { grid-area: 3 / 1 / 4 / 6; }
.item.sheet.protection .protection-valeur { grid-area: 4 / 1 / 5 / 2; }
.item.sheet.protection .protection-préstige { grid-area: 4 / 2 / 5 / 3; }
.item.sheet.protection .protection-ressources { grid-area: 4 / 3 / 5 / 6; }
.item.sheet.protection .protection-fabrication { grid-area: 5 / 1 / 6 / 5; }

.item.sheet.protection .protection-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.protection .protection-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .protection-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .protection-details h3 {
    border: none;
    margin-bottom: 0;
}


/* RELATION CONTENT */

.item.sheet.relation {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "relationHeader"70px "relationRang"minmax(min-content, max-content) "relationContent";
}
.item.sheet.relation .sheet-header {
    grid-area: relationHeader;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.relation .relation-rank {
    grid-area: relationRang;
    display: grid;
}
.item.sheet.relation .relation-details {
    grid-area: relationContent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.item.sheet.relation .relation-spécialisations { grid-area:1 / 1 / 2 / 4;}
.item.sheet.relation .relation-déscription { grid-area: 2 / 1 / 3 / 6;  }
.item.sheet.relation .relation-prestige { grid-area: 3 / 1 / 4 / 2;   }
.item.sheet.relation .relation-fabrication { grid-area: 3 / 2 / 4 / 6; }

.item.sheet.relation .relation-déscription textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none;
    border-radius: 0;
    border: 0;
}
.item.sheet.relation .relation-déscription textarea:focus {
    box-shadow: none;
}
.item.sheet .relation-details label{
    color: var(--primary);
    font-family: var(--sans-serif);
    font-weight: 800;
    font-size: .625rem;
    text-transform: uppercase;
}

.item.sheet .relation-details h3 {
    border: none;
    margin-bottom: 0;
}


/* Trihn Sheet */
.item.sheet.trihn {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid: "trihn-header"70px "trihnContent";
}
.item.sheet.trihn .sheet-header {
    grid-area: trihn-header;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.trihn .trihn-details {
    grid-area: trihnContent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 10px;
}
.item.sheet.trihn .trihn-details .trihn-type {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
}
.item.sheet.trihn .trihn-details .trihn-type select {
    width: calc(100% - 2px);
    min-width: 20px;
    height: var(--form-field-height);
    padding: 1px 3px;
    margin: 0;
    margin-top: 2px;
}
.item.sheet.trihn .trihn-details .emplacement input{
    width: calc(100% - 2px);
    min-width: 20px;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: var(--color-text-dark-primary);
}



/* PEUPLE */

.item.sheet.peuple {
    width: 100%;
    height: 100%;
    font-family: var(--body-serif);
    display: grid;
    flex-direction: column;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 70px repeat(3, 1fr);
}
.item.sheet.peuple .sheet-header {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    align-items: center;
}
.item.sheet.peuple .peuple-image {
   grid-area: 2 / 1 / 3 / 2;
   margin-top: 5px;
   margin-right: 5px;
}
.item.sheet.peuple .peuple-image img {
    border: none;
}
.item.sheet.peuple .peuple-resume {
    grid-area: 3 / 1 / 4 / 3;
}
.item.sheet.peuple .peuple-moeurs {
    grid-area: 4 / 1 / 5 / 3;
}
.item.sheet.peuple .peuple-details {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item.sheet.peuple .peuple-details span {
    display: flex; 
    flex-direction: row;
    align-items: center;
}
.item.sheet.peuple .peuple-details span input {
    margin-left: 2px;
    margin-right: 2px;
}
.item.sheet.peuple textarea {
    width: 100% !important;
    min-height: 150px;
    border: none;
    border-radius: 0;
}
.item.sheet.peuple textarea:focus {
    box-shadow: none;
}