/* Shaani SHEET */
.window-app.sheet.shaani .window-content {
  background: url(../assets/sheet/template_shaan_background1.jpg);
  background-position: center;
  padding: 0 !important;
}
.sheet.shaani form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* Header */
.sheet.shaani form > header {
  background: url("../assets/sheet/shaani-header-bg.webp");
  background-repeat: repeat-x, no-repeat;
  background-size: cover;
  background-color: #755137;
  color: var(--text-light);
  width: 100%;
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  gap: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.sheet.shaani form > header .frame-container {
  flex: 0 0 60px;
  padding: 4px;
  margin: 0.75rem 0;
}
.sheet.shaani form > header .frame-container .frame {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
.sheet.shaani form > header .frame-container .player-image {
  object-fit: cover;
  object-position: top;
  border: none;
  border-radius: 0;
  width: 100%;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39,
    inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px black;
}
.sheet.shaani form > header .details {
  margin: 4px 0;
  flex: 1;
}
.sheet.shaani form > header .details {
  display: grid;
  grid: "name type" 1fr "name visibility" auto/1fr auto;
  align-items: center;
  gap: 0 0.5rem;
  font-family: Komikazoom;
  font-size: var(--font-size-28);
  font-weight: 700;
}
.sheet.shaani form > header .details .name {
  grid-area: name;
  flex: 1;
  font-size: var(--font-size-32);
}
/* Nav */
.sheet.shaani nav.sub-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  width: 100%;
  flex: 0 0 2.5rem;
}
.sheet.shaani nav.sub-nav::before,
.sheet.shaani nav.sub-nav::after {
  content: "";
  width: 37px;
  height: 16px;
  margin: 0 16px;
}
.sheet.shaani nav.sub-nav::after {
  transform: scaleX(-100%);
}
.sheet.shaani nav.sub-nav a,
.sheet.shaani nav.sub-nav .tab {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--alt);
  cursor: pointer;
  display: block;
  font: 400 var(--font-size-16) Komikazoom;
  flex: 1;
  margin: 0 0.25rem;
  padding-right: 8px;
  max-width: 30%;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-out;
}
.sheet.shaani nav.sub-nav a.active,
.sheet.shaani nav.sub-nav .tab.active {
  color: var(--primary);
  font-weight: 600;
}
.sheet.shaani nav.sub-nav a:first-child,
.sheet.shaani nav.sub-nav .tab:first-child {
  border-left: none;
}
.sheet.shaani nav.sub-nav a:last-child,
.sheet.shaani nav.sub-nav .tab:last-child {
  border-right: none;
}
.sheet.shaani nav.sub-nav a:hover,
.sheet.shaani nav.sub-nav .tab:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
.sheet.shaani .tab nav.sub-nav {
  padding-right: 20px;
}

/* Members */
.sheet.shaani [data-tab="members"] .member {
  display: flex;
  flex-direction: row;
  font-family: var(--sans-serif);
  padding: 0.5rem 1rem;
  position: relative;
  height: 7.375rem;
}
.sheet.shaani [data-tab="members"] .member:not(:last-child):after {
  content: "";
  background-color: rgba(68, 55, 48, 0.1);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
}
.sheet.shaani [data-tab="members"] .member > .portrait {
  margin-right: 8px;
  min-width: 5.5rem;
  position: relative;
}
.sheet.shaani [data-tab="members"] .member > .portrait img {
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.sheet.shaani [data-tab="members"] .member > .portrait .health-bars {
  background-color: var(--sub);
  bottom: 0;
  color: var(--text-light);
  font-size: var(--font-size-12);
  font-weight: 500;
  height: 15px;
  line-height: 1.25rem;
  position: absolute;
  width: 100%;
}
.sheet.shaani [data-tab="members"] .member > .portrait .health-bars .bar {
  height: 5px;
  top: 0px;
  left: 0;
  bottom: 0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.sheet.shaani
  [data-tab="members"]
  .member
  > .portrait
  .health-bars
  .esprit-bar
  .bar {
  background-color: var(--color-esprit);
}
.sheet.shaani
  [data-tab="members"]
  .member
  > .portrait
  .health-bars
  .ame-bar
  .bar {
  background-color: var(--color-ame);
}
.sheet.shaani
  [data-tab="members"]
  .member
  > .portrait
  .health-bars
  .corps-bar
  .bar {
  background-color: var(--color-corps);
}
.sheet.shaani [data-tab="members"] .member > .portrait .health-bars span {
  padding-left: 0.25rem;
  position: relative;
}
/* Souches */
.actor.sheet.shaani .tab.cercle.active .souches {
  display: flex;
  flex-direction: column;
}
.actor.sheet.shaani .tab.cercle.active .souches-container {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.actor.sheet.shaani .tab.cercle.active .souches-container .souche {
  display:flex; 
  flex-direction:column;
  text-align:center;
  gap: 5px;
  width: 30%;
}
.actor.sheet.shaani .tab.cercle.active .souches span.SouchesLabel {
  color: var(--primary);
  font-family: Komikazoom;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  width:100%;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  border-bottom: 2px solid var(--primary);
}
.actor.sheet.shaani .tab.cercle.active .souches-container .souche.esprit .souche-label{
  background: var(--color-esprit);
    color: #fffcdb;
    font-family: var(--sans-serif);
    font-size: 0.8rem;
    font-weight: 800;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}


.actor.sheet.shaani .tab.cercle.active .souches-container .souche.ame .souche-label{
  background: var(--color-ame);
  color: #d5eefc;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.actor.sheet.shaani .tab.cercle.active .souches-container .souche.corps .souche-label{
  background: var(--color-corps);
  color: #fbdaca;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.actor.sheet.shaani .tab.cercle.active .souches-container .souche .trihn-container {
  width:100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}
.actor.sheet.shaani .tab.cercle.active .souches-container .souche .trihn-container input {
  width: calc(100% - 2px);
  min-width: 20px;
  height: var(--form-field-height);
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
}

/* Cercle */
.actor.sheet.shaani
  .tab.cercle.active
  .pc
  input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  grid-area: mod;
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
}
.actor.sheet.shaani
  .tab.cercle.active .character-domains {
  text-align: center;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .DomainsLabel {
  grid-area: titre;
  color: var(--primary);
  font-family: Komikazoom;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  border-bottom: 2px solid var(--primary);
}

.actor.sheet.shaani
  .tab.cercle.active
  .character-domains {
  display: grid;
  grid: "titre titre titre" "shaandars shaandars shaandars" "technique arts rituels" "savoir shaan survie" "social magie combat" "vide2 necrose vide3";
  gap: 1%;
  margin-bottom: 10px;
}
.actor.sheet.shaani .tab.cercle.active .character-domains [data-action="shaandars"]{
  grid-area:shaandars;
  width: 15%;
  background: #65503e;
  font: 400 var(--font-size-16) Komikazoom;
  justify-self: center;
}
.actor.sheet.shaani .tab.cercle.active .character-domains [data-action="shaandars"] i {
  margin-right:2px;
}

.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-esprit,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-ame,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-corps,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-necrose {
  display: grid;
  grid: "label label label" "base actuel xp";
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-actuel,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-base,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-exp {
  flex: 50%;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-actuel {
  grid-area: actuel;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-base {
  grid-area: base;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-exp {
  width: 20px;
  grid-area: xp;
  display: flex;
  flex-direction: column;
  align-self: start;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-exp
  input {
  height: 20px;
  background: none;
  border-bottom: 1px solid black;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-base,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-actuel,
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-exp {
  color: var(--primary);
  font-family: var(--sans-serif);
  font-size: 0.625rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-label {
  grid-area: label;
  text-align: center;
  flex: 100%;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-base
  input {
  font: 800 var(--font-size-19) var(--body-serif);
}
/* Cercle Tab domaines Esprit */

.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-esprit
  .domain-label {
  background: var(--color-esprit);
  color: #fffcdb;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Cercle Tab domaines Ame */

.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-ame
  .domain-label {
  background: var(--color-ame);
  color: #d5eefc;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Cercle Tab domaines Corps */

.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-corps
  .domain-label {
  background: var(--color-corps);
  color: #fbdaca;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Cercle Tab domaine Necrose */
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-necrose {
  grid-area: necrose;
}
.actor.sheet.shaani
  .tab.cercle.active
  .character-domains
  .domain-necrose
  .domain-label {
  background: var(--color-necrose);
  color: black;
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
/* Acquis */
.sheet.shaani .content {
  padding: 10px;
}
.sheet.shaani .tab.acquis.active .item.acquis .owner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  background-color: rgba(28, 28, 28, 0.1);
  border-left: 1px solid black;
}


/* SPECIALISATIONS */

.actor.sheet .character-specialisations {
  display:grid;
  grid: "spésTitre spésTitre spésTitre" "spéstechnique spésarts spésrituels" "spéssavoir spésshaan spéssurvie" "spéssocial spésmagie spéscombat" "spésvide spésnecrose spésvide2";
  gap: 1%;
}
.actor.sheet .character-specialisations .SpecialisationsLabel {
  grid-area:spésTitre;
  color: var(--primary);
  font-family: Komikazoom;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  border-bottom: 2px solid var(--primary);
}
.actor.sheet .character-specialisations .spe-container {
  display:grid;
  grid: "spéInTitre spéInTitre spéInTitre" "spé1 spé1 spé1" "spé2 spé2 spé2" "spé3 spé3 spé3" "spé4 spé4 spé4" "spé5 spé5 spé5" "spé6 spé6 spé6" "spé7 spé7 spé7" "spé8 spé8 spé8" "spé9 spé9 spé9" "spé10 spé10 spé10";
  column-gap:1%;
  row-gap:3px;
  color:black;
  font-family:var(--sans-serif);
  font-size:0.7rem;
  font-weight:800;
  margin-right:2px;
  text-transform:uppercase;
  white-space:nowrap;
}
.actor.sheet .character-specialisations .spe-container .specialisations-title {
  grid-area:spéInTitre
}
.actor.sheet .character-specialisations .spe-container .specialisations-bonus-label {
  margin-right: -15px;
}
.actor.sheet .character-specialisations [data-domain="Technique"] {
  grid-area: spéstechnique;
}
.actor.sheet .character-specialisations [data-domain="Arts"] {
  grid-area: spésarts;
}
.actor.sheet .character-specialisations [data-domain="Rituels"] {
  grid-area: spésrituels;
}
.actor.sheet .character-specialisations [data-domain="Savoir"] {
  grid-area: spéssavoir;
}
.actor.sheet .character-specialisations [data-domain="Shaan"] {
  grid-area: spésshaan;
}
.actor.sheet .character-specialisations [data-domain="Survie"] {
  grid-area: spéssurvie;
}
.actor.sheet .character-specialisations [data-domain="Social"] {
  grid-area: spéssocial;
}
.actor.sheet .character-specialisations [data-domain="Magie"] {
  grid-area: spésmagie;
}
.actor.sheet .character-specialisations [data-domain="Combat"] {
  grid-area: spéscombat;
}
.actor.sheet .character-specialisations [data-domain="Nécrose"] {
  grid-area: spésnecrose;
}
.actor.sheet .character-specialisations [data-domain="Technique"] .specialisations-title, .actor.sheet .character-specialisations [data-domain="Savoir"] .specialisations-title, .actor.sheet .character-specialisations [data-domain="Social"] .specialisations-title {
  background-color: var(--color-esprit);
  display:grid;
  grid:"spéInsideTitre spéInsideAcquis";
  color:#fffcdb;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet .character-specialisations [data-domain="Arts"] .specialisations-title, .actor.sheet .character-specialisations [data-domain="Shaan"] .specialisations-title, .actor.sheet .character-specialisations [data-domain="Magie"] .specialisations-title {
  background-color: var(--color-ame);
  display:grid;
  grid:"spéInsideTitre spéInsideAcquis";
  color:#d5eefc;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet .character-specialisations [data-domain="Rituels"] .specialisations-title, .actor.sheet .character-specialisations [data-domain="Survie"] .specialisations-title, .actor.sheet .character-specialisations [data-domain="Combat"] .specialisations-title {
  background-color: var(--color-corps);
  display:grid;
  grid:"spéInsideTitre spéInsideAcquis";
  color:#fbdaca;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet .character-specialisations [data-domain="Nécrose"] .specialisations-title {
  background-color: var(--color-necrose);
  display:grid;
  grid:"spéInsideTitre spéInsideAcquis";
  color:black;
  font-family: var(--sans-serif);
  column-gap: 1%;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.actor.sheet
  .character-specialisations
  a {
  align-self: center;
}
.actor.sheet .character-specialisations input[type="number"] {
  font: 700 var(--font-size-14) var(--body-serif);
  text-align: center;
}