.system-Shaan_Renaissance #pause img{
    content:url("../assets/symbole_pause.webp");
    object-fit: contain;
}
.system-Shaan_Renaissance #ui-left img {
    content: url("../assets/logo-shaan.webp");
    height: 100px;
    object-fit: contain;
}










/* JETS */

/* INITIATIVE */
.chat-message .dice-roll {
    display: flex;
    flex-direction: column;
}

/* JET DE DOMAINE */

.chat-message .dice-roll.domainTest .domainDice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: center;
}
.chat-message .dice-roll.domainTest .domainDice .die img {
    width: 80px;
    display: flex;
    margin: 0;
}
.chat-message .dice-roll.domainTest .domainDice .Esprit { grid-area: 1 / 1 / 2 / 2; justify-self: center;}
.chat-message .dice-roll.domainTest .domainDice .Ame { grid-area: 1 / 2 / 2 / 3; justify-self: center;}
.chat-message .dice-roll.domainTest .domainDice .Corps { grid-area: 1 / 3 / 2 / 4; justify-self: center;}

.chat-message .dice-roll.domainTest .domainDice .Esprit img, .chat-message .dice-roll.domainTest .domainDice .Ame img, .chat-message .dice-roll.domainTest .domainDice .Corps img {
    border: 0;
}

.chat-message .dice-roll.domainTest .domainInfos {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.chat-message .dice-roll.necroseTest .domainDice{
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.chat-message .dice-roll.necroseTest .domainDice .Nécrose { grid-area: 1 / 1 / 2 / 2; justify-self: center; }
.chat-message .dice-roll.necroseTest .domainDice .Nécrose img, .chat-message .dice-roll.necroseTest .domainDiceH .Nécrose img {
    border: 0;
    width: 80px;
    display: flex;
    margin: 0;
}
.chat-message .dice-roll.necroseTest .domainDice .Esprit img, .chat-message .dice-roll.necroseTest .domainDiceH .Esprit img {
    border: 0;
    width: 80px;
    display: flex;
    margin: 0;
}
.chat-message .dice-roll.necroseTest .domainDiceH {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.chat-message .dice-roll.necroseTest .domainDiceH .Esprit { grid-area: 1 / 1 / 2 / 2; justify-self: center;}
.chat-message .dice-roll.necroseTest .domainDiceH .Nécrose { grid-area: 1 / 2 / 2 / 3; justify-self: center;}

.chat-message .dice-roll.necroseTest .domainInfos {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}